html {
  height: 100%;
  margin: 0;
  overflow: scroll;
}

body {
  background-color: #191919;
  font-family: 'cabin';
  transition: all .5s ease-out;
  
}


img.atta {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  position: relative;
  z-index: 2;
  top: 0px;
  left: 0px;
}



p {
  font-family: 'cabin', Sans-Serif;
  text-align: center;
  font-size: 13px;
  color: #fff;
  margin-top: 20px;
}

h1 {
  font-family: 'imbue';
  font-weight: 400;
  text-align: center;
  font-size: 45px;
  margin-top: 10px;
  color: #fff;
  position: relative;
  top: 15px;
  bottom: 0px;
}


.container {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 50px auto;
  gap: 20px;
}


.btn1 {
  background: radial-gradient(circle at bottom left, #FDBA51, #F22B41, #A33E9A, #53589F);
  color: #ffffff;
  border-radius: 6px;
  padding: 16px 20px;
  text-decoration: none;
  font-family: 'Josefin Sans';
  text-align: center;
  transition: background-color 0.35s ease-in-out;
  transition: all 0.5s ease;
}
  
.btn1 i {
  margin-right: 5px;
}

.btn1:hover {
  background-color: #000;
  color: #000;
  transform: scale(0.93);
}

.btn2 {
  background-color: #000000;
  color: #1DB954;
  border-radius: 6px;
  padding: 16px 20px;
  text-decoration: none;
  font-family: 'Josefin Sans';
  text-align: center;
  transition: background-color 0.37s ease-in-out;
  transition: all 0.5s ease;
}

.btn2 i {
  margin-right: 5px;
}
  
.btn2:hover {
  background-color: #1DB954;
  color: #000000;
  transform: scale(0.93);
}

.btn3 {
  background-color: #15c2b9;
  color: #000;
  border-radius: 6px;
  padding: 16px 20px;
  text-decoration: none;
  font-family: 'Josefin Sans';
  text-align: center;
  transition: background-color 0.35s ease-in-out;
  transition: all 0.5s ease;
}

.btn3 i {
  margin-right: 5px;
}
  
.btn3:hover {
  background-color: #000;
  color: #15c2b9;
  transform: scale(0.93);
}

.btn4{
  background-color: #41E75F;
  color: #fff;
  border-radius: 6px;
  padding: 16px 20px;
  text-decoration: none;
  font-family: 'Josefin Sans';
  text-align: center;
  transition: background-color 0.35s ease-in-out; 
  transition: all 0.5s ease;
}

.btn4 i {
  margin-right: 5px;
}
  
.btn4:hover {
  background-color: #fff;
  color: #41E75F;
  transform: scale(0.93);
}

.btn5{
  background-color: #045959;
  color: #fff;
  border-radius: 6px;
  padding: 16px 20px;
  text-decoration: none;
  font-family: 'Josefin Sans';
  text-align: center;
  transition: background-color 0.35s ease-in-out;
  transition: all 0.5s ease;
}
  
  .btn5 i {
    margin-right: 5px;
  }
  
.btn5:hover {
  background-color: #fff;
  color: #045959;
  transform: scale(0.93);
}

.btn6{
  background-color: #000;
  color: #A58444;
  border-radius: 6px;
  padding: 16px 20px;
  text-decoration: none;
  font-family: 'Josefin Sans';
  text-align: center;
  transition: background-color 0.35s ease-in-out;
  transition: all 0.5s ease;
}

.btn6 i {
  margin-right: 5px;
}

.foto1 {
  margin-right: 5px
}
  
.btn6:hover {
  background-color: #A58444;
  color: #000;
  transform: scale(0.93);
}

.btn7 {
  background-color: #B28767;
  color: #000;
  border-radius: 6px;
  padding: 16px 20px;
  text-decoration: none;
  font-family: 'Josefin Sans';
  text-align: center;
  transition: background-color 0.35s ease-in-out;
  transition: all 0.5s ease;
}
  
.btn7 i {
    margin-right: 5px;
}
  
.btn7:hover {
  background-color: #000;
  color: #B28767;
  transform: scale(0.93);
}

.btn10 {
  background-color: #253439;
  border-radius: 6px;
  padding: 16px 20px;
  color: #B29E84;
  text-decoration: none;
  font-family: 'Josefin Sans';
  text-align: center;
  transition: background-color 0.35s ease-in-out;
  transition: all 0.5s ease;
}
  
.btn10 i {
    margin-right: 5px;
}
  
.btn10:hover {
  background-color: #B29E84;
  color: #253439;
  transform: scale(0.93);
}


.footage {
  font-family: 'Josefin Sans';
  text-align: center;
  color: #fff;
  padding-top: 0px;
  font-size: 10px;
  position: relative;
  bottom: 20px;
}