* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  height: 100%;
  margin: 0;
  overflow: scroll;
}

body {
  background-image: url('58.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'cabin';
  transition: all .5s ease-out;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  background: #fff;
  min-height: 85vh;
  width: 80%;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
  border-radius: 0.7rem;
  z-index: 5;
  backdrop-filter: blur(0.7rem);
}



.user {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.2));
  border-radius: 0.7rem;
  gap: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}



h4 {
  font-family: 'Poppins', Sans-Serif;
  text-align: center;
  color: #fff;
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: 600;
  background: -webkit-linear-gradient(60deg, #fff, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  font-family: 'imbue';
  font-weight: 200;
  text-align: center;
  font-size: 45px;
  color: #fff;
  position: relative;
  bottom: 0px;
}


.container {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 50px auto;
  gap: 20px;
}

.btn1 {
  background: #fff;
  color: #658ec6;
  opacity: 0.8;
  border-radius: 6px;
  padding: 16px;
  text-decoration: none;
  font-family: 'Josefin Sans';
  text-align: center;
  transition: background-color 0.35s ease-in-out;
  transition: all 0.5s ease;
}
  
.btn1 i {
  margin-right: 5px;
}

.btn1:hover {
  background-color: transparent;
  color: #fff;
  transform: scale(0.97);
  border: 2px solid #658ec6;
}

.btn2 {
  background: #fff;
  color: #658ec6;
  opacity: 0.8;
  border-radius: 6px;
  padding: 16px 20px;
  text-decoration: none;
  font-family: 'Josefin Sans';
  text-align: center;
  transition: background-color 0.37s ease-in-out;
  transition: all 0.5s ease;
}

.btn2 i {
  margin-right: 5px;
}
  
.btn2:hover {
  background-color: transparent;
  color: #fff;
  transform: scale(0.97);
  border: 2px solid #658ec6;
}

.btn3 {
  background: #fff;
  color: #658ec6;
  opacity: 0.8;
  border-radius: 6px;
  padding: 16px 20px;
  text-decoration: none;
  font-family: 'Josefin Sans';
  text-align: center;
  transition: background-color 0.35s ease-in-out;
  transition: all 0.5s ease;
}

.btn3 i {
  margin-right: 5px;
}
  
.btn3:hover {
  background-color: transparent;
  color: #fff;
  transform: scale(0.97);
  border: 2px solid #658ec6;
}

.btn4{
  background: #fff;
  color: #658ec6;
  opacity: 0.8;
  border-radius: 6px;
  padding: 16px 20px;
  text-decoration: none;
  font-family: 'Josefin Sans';
  text-align: center;
  transition: background-color 0.35s ease-in-out; 
  transition: all 0.5s ease;
}

.btn4 i {
  margin-right: 5px;
}
  
.btn4:hover {
  background-color: transparent;
  color: #fff;
  transform: scale(0.97);
  border: 2px solid #658ec6;
}

.btn5{
  background: #fff;
  color: #658ec6;
  opacity: 0.8;
  border-radius: 6px;
  padding: 16px 20px;
  text-decoration: none;
  font-family: 'Josefin Sans';
  text-align: center;
  transition: background-color 0.35s ease-in-out;
  transition: all 0.5s ease;
}
  
  .btn5 i {
    margin-right: 5px;
  }
  
.btn5:hover {
  background-color: transparent;
  color: #fff;
  transform: scale(0.97);
  border: 2px solid #658ec6;
}

.btn6{
  background: #fff;
  color: #658ec6;
  opacity: 0.8;
  border-radius: 6px;
  padding: 16px 20px;
  text-decoration: none;
  font-family: 'Josefin Sans';
  text-align: center;
  transition: background-color 0.35s ease-in-out;
  transition: all 0.5s ease;
}

.btn6 i {
  margin-right: 5px;
}

.foto1 {
  margin-right: 5px
}
  
.btn6:hover {
  background-color: transparent;
  color: #fff;
  transform: scale(0.97);
  border: 2px solid #658ec6;
}

.btn7 {
  background: #fff;
  color: #658ec6;
  opacity: 0.8;
  border-radius: 6px;
  padding: 16px 20px;
  text-decoration: none;
  font-family: 'Josefin Sans';
  text-align: center;
  transition: background-color 0.35s ease-in-out;
  transition: all 0.5s ease;
}
  
.btn7 i {
    margin-right: 5px;
}
  
.btn7:hover {
  background-color: transparent;
  color: #fff;
  transform: scale(0.97);
  border: 2px solid #658ec6;
}

.btn10 {
  background: #fff;
  color: #658ec6;
  opacity: 0.8;
  padding: 16px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-family: 'Josefin Sans';
  text-align: center;
  transition: background-color 0.35s ease-in-out;
  transition: all 0.4s ease;
}
  
.btn10 i {
    margin-right: 5px;
}
  
.btn10:hover {
  background-color: transparent;
  color: #fff;
  transform: scale(0.97);
  border: 2px solid #658ec6;
}



.footage {
  font-family: 'Josefin Sans';
  text-align: center;
  color: #fff;
  padding-top: 0px;
  font-size: 10px;
  position: relative;
  bottom: 20px;
}