html {
  height: 100%;
  margin: 0;
  overflow: scroll;
}

body {
  background-color: #191919;
  font-family: 'cabin';
  transition: all .5s ease-out;

}

container {
  position: relative;
}



img.atta {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  position: relative;
  z-index: 2;
  top: 0px;
  left: 0px;
}


p {
  font-family: 'cabin', Sans-Serif;
  text-align: center;
  font-size: 13px;
  color: #fff;
  margin-top: 20px;
}

h1 {
  font-family: 'imbue';
  font-weight: 400;
  text-align: center;
  font-size: 45px;
  margin-top: 10px;
  color: #fff;
  position: relative;
  top: 15px;
  bottom: 0px;
}

button1 {
   background-color: #d2601a;
   padding: 16px 20px;
   margin-bottom: 20px;
   border-radius: 6px;
   text-decoration: none;
   text-align: center;
   color: #fff1e1;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 50px auto;
}

.btn {
  background-color: #d2601a;
  padding: 16px 20px;
  margin-bottom: 20px;
  border-radius: 6px;
  color: #fff1e1;
  text-decoration: none;
  font-family: 'Josefin Sans';
  text-align: center;
}
  
.btn:hover {
  background-color: #fff1e1;
  color: #d2601a;
}

.btn:hover:after {
  opacity: 1;
  transform: scale(1.15);
}

.btn1 {
  background: radial-gradient(circle at bottom left, #FDBA51, #F22B41, #A33E9A, #53589F);
  padding: 16px 20px;
  margin-bottom: 20px;
  border-radius: 6px;
  color: #ffffff;
  text-decoration: none;
  font-family: 'Josefin Sans';
  text-align: center;
  transition: background-color 0.25s ease-in-out;
}
  
.btn1 i {
  margin-right: 5px;
}

.btn1:hover {
  background-color: #000;
  color: #000;
}

.btn1:hover:after {
  opacity: 1;
  transform: scale(1.15);
}

.btn2 {
  background-color: #000000;
  padding: 16px 20px;
  margin-bottom: 20px;
  border-radius: 6px;
  color: #1DB954;
  text-decoration: none;
  font-family: 'Josefin Sans';
  text-align: center;
  transition: background-color 0.35s ease-in-out;
}

.btn2 i {
  margin-right: 5px;
}
  
.btn2:hover {
  background-color: #1DB954;
  color: #000000;
}

.btn2:hover:after {
  opacity: 1;
  transform: scale(1.15);
}

.btn3 {
  background-color: #1C9AF0;
  padding: 16px 20px;
  margin-bottom: 20px;
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
  font-family: 'Josefin Sans';
  text-align: center;
  transition: background-color 0.35s ease-in-out;
}

.btn3 i {
  margin-right: 5px;
}
  
.btn3:hover {
  background-color: #fff;
  color: #1C9AF0;
}

.btn3:hover:after {
  opacity: 1;
  transform: scale(1.15);
}

.btn4{
  background-color: #41E75F;
  padding: 16px 20px;
  margin-bottom: 20px;
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
  font-family: 'Josefin Sans';
  text-align: center;
  transition: background-color 0.35s ease-in-out; 
}

.btn4 i {
  margin-right: 5px;
}
  
.btn4:hover {
  background-color: #fff;
  color: #41E75F;
}

.btn4:hover:after {
  opacity: 1;
  transform: scale(1.15);
}

.btn5{
  background-color: #045959;
  padding: 16px 20px;
  margin-bottom: 20px;
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
  font-family: 'Josefin Sans';
  text-align: center;
  transition: background-color 0.35s ease-in-out;
}
  
  .btn5 i {
    margin-right: 5px;
  }
  
.btn5:hover {
  background-color: #fff;
  color: #045959;
}

.btn5:hover:after {
  opacity: 1;
  transform: scale(1.15);
}

.btn6{
  background-color: #000;
  padding: 16px 20px;
  margin-bottom: 0px;
  border-radius: 6px;
  color: #A58444;
  text-decoration: none;
  font-family: 'Josefin Sans';
  text-align: center;
  transition: background-color 0.35s ease-in-out;
}

.btn6 i {
  margin-right: 5px;
}

.foto1 {
  margin-right: 5px
}
  
.btn6:hover {
  background-color: #A58444;
  color: #000;
}


.footage {
  font-family: 'Josefin Sans';
  text-align: center;
  color: #fff;
  padding-top: 0px;
  font-size: 10px;
  position: relative;
  bottom: 20px;
}